{
  "singleQuote": true,
  "printWidth": 120,
  "trailingComma": "none",
  "requirePragma": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 90,
        "bracketSameLine": false,
        "parser": "angular",
        "htmlWhitespaceSensitivity": "ignore",
        "singleAttributePerLine": false
      }
    }
  ]
}
